workPath: /data/.lrp
user: kyrin
processCount: 1
useExternalDatastream: true
srcMainnetDataPath: /data/mainnet # Specify mainnet data path
externalDatastreamPath: # If not set, srcMainnetDataPath will be used